@charset "UTF-8";

/* 
#050A0D--verde escuro
#172526--verde médio
#485936--verde claro
#8C8A87--cinza
#F2F2F2--quase branco
*/
:root {
    --cor1: #050A0D;
    --cor2: #172526;
    --cor3: #485936;
    --cor4: #8C8A87;
    --cor5: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: #050A0D;

}
body ::-webkit-scrollbar {
    display: none;
}
main {
    height: 100vh;
    width: 100vw;
}
main img {
    height: 100%;
    width: 100%;
}
main  ::-webkit-scrollbar {
    display: none;
}
header {
    background-color: #050A0D;
    box-shadow: 0px 3px 10px #464646;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6 rem;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.logo h1 {
    color: #fff;
}
.nav_list {
    display: flex;
    align-items: center;
}
.nav_list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav_item {
    margin: 0 15px;    
}
.nav_link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}
.login_button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
    color: #Fff;
}
.login_button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}
.mobile_menu_icon{
    display: none;
}
.mobile_menu {
    display: none;
}
@media screen and (max-width: 750px) {
    .nav_bar {
        padding: 1.5rem 4rem;
    }
    .nav_item {
        display: none;
    }
    .login_button {
        display: none;
    }
    .mobile_menu_icon {
        display: block;
    }
    .mobile_menu_icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile_menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile_menu .nav_item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile_menu .login_button {
        width: 100%;
    }
    .open{
        display: block;
    }
}
#primeira {
    height: 100vh;
    width: 100vw;   
    background: url(image/gradeinclinadabg.jpg);
    background-attachment: fixed;
}
.mascara {
    position: relative;
    height: 100%;
    width: 100%;
   background-color: #050a0d93;
   justify-content: space-around;
   display: flex;
    
}
#primeiradiv {
    position: absolute;
    height: 80%;
    width: 70%;
    left: 20%;
    top: 50%;
    transform: translate(0, -25%);
    text-align: center;
    display: block;
    margin: auto;
    color: #F2F2F2;
    font-size: 1.4em;

}
#primeiradiv > button {
    height: 40px;
    width: 150px;
    color: #f2f2f2e1;
    font-size: 110%;
    font-weight: bolder;
    border-radius: 6px;
    background-color: var(--cor3);
}
#segunda {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: darkred;
    background-size: cover;
    
}
.tela {
    position: absolute;    
    left: 50%;
    top: 50%;
    width: 80%;
    height: 500px;
    transform: translate(-50%, -50%);
    background: url(image/tela.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container_texto {
    position: relative;
    height: 100%;
    width: 50%;
}
.texto {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: block;
    background: transparent;
    text-align: center;
    color: white;
    font-size: 1.3em;
}
.texto > h1, p, button {
    padding-bottom: auto;
    margin: auto;
    
}

#terceira {
    height: 90vh;
    width: 100vw;
    display: flex;
    background: url(image/bgpipoca.jpg);
    background-attachment: fixed;
}
.grade {
    background-image: linear-gradient(to left, --cor3, --cor5);
    height: 100%;
    width: 50%;
    text-align: center;
    position: relative;
    
    
   
}
#btn {
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

.logo_btn {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
    
    
}
#btn2 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
    
}
#btn3 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
    
}
#btn4 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
}    
#btn5 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
}    
#btn6 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
    
}
#btn7 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
    
}
#btn8 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
    
}
#btn9 {
    height: 29%;
    width: 29%;
    margin: 1px;
    padding: 1px;
    
}
#quarta {
    height: 70vh;
    width: 100vw;
    background-color: #8C8A87;
    text-align: justify;
    display: flex;
}
.icons {
    height: 100%;
    width: 100%;
}
.icons > #img1 {
    height: 80%;
    width: 100%;
    
    
}

#quinta {
    height: 15vh;
    width: 100vw;
}
footer {
    background-color: #050A0D;
    box-shadow: 0px 3px 10px hsl(0, 0%, 27%);
    
}
.nav_bar_footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    margin-top: 15px;
}
.logo_footer {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.logo_footer h1{
    padding-left: 0;
    color: #fff;
}
.nav_list_footer {
    display: flex;
    align-items: center;
    
}
.nav_list_footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav_item_footer {
    margin: 0 15px;    
}
.nav_link_footer {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}

